.ve-timeline-container {
    width: 100%;
    height: 60px;
    background: #000000;
    display: flex;
}

.ve-video-timeline-controls {
    width: 12%;
    flex-basis: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ve-video-timeline {
    width: 88%;
    padding: 25px 15px;
    position: relative;
    flex-basis: 88%;
}

.ve-video-timeline-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #464646;
}

.ve-video-timeline-progress {
    background: #FFFFFF;
    height: 100%;
}

.ve-control {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.ve-control svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ve-control-playpause {
    margin-right: 20px;
}